.banner{

background-image: url(../../images/background.jpg);
color: whitesmoke;
padding: 150px 0px;
background-size: cover;
background-position: center;
}

.banner h1 {
font-size: 100px;
}
